# Limpieza dataset de rookies
  
En este archivo se lleva a cabo exactamente el mismo proceso que se ha seguido en el archivo 'limpieza_profesionales.ipynb'. Se recomienda su consulta para entender el proceso que se ha llevado en el presente.

In [1]:
import numpy as np
import pandas as pd
import time

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

In [2]:
from pymongo import MongoClient
cursor=MongoClient()
final_proj = cursor.lol_scouting                                                   
colec = final_proj.lol_scouting

In [3]:
data = [e for e in colec.find()]

In [4]:
df = pd.DataFrame(data)

df.head()

,_id,nombre_invocador,region,liga,lps,cola,ranking_mundial,ranking_porcentaje,wins,loses,n_games,winrate_total
0,640a0afba22d185ceaa2519c,Agurin,EUW,Challenger,1742,Soloqueue,4,Top 0.000043%,242,174,436,57.6
1,640a0afcffd561b7ffc16d5e,6K OnFleek,NA,Challenger,1859,Soloqueue,1,Top 0.000010%,150,111,260,57.7
2,640a0afb4ac41664b146843d,frosty,BR,Challenger,1760,Soloqueue,3,Top 0.000032%,194,141,336,57.7
3,640a0afce3ca20ed404baeb7,Noah7,EUW,Challenger,1782,Soloqueue,2,Top 0.000021%,243,159,402,60.7
4,640a0b03a22d185ceaa2519d,FURIA Ayu,BR,Challenger,1701,Soloqueue,5,Top 0.000053%,120,76,196,61.2

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4742 entries, 0 to 4743
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nombre_invocador    4742 non-null   object
 1   region              4742 non-null   object
 2   liga                4742 non-null   object
 3   lps                 4742 non-null   int64
 4   cola                4742 non-null   object
 5   ranking_mundial     4742 non-null   int64
 6   ranking_porcentaje  4742 non-null   float64
 7   wins                4742 non-null   int64
 8   loses               4742 non-null   int64
 9   n_games             4742 non-null   int64
 10  winrate_total       4742 non-null   float64
 11  liga_label          4742 non-null   int64
dtypes: float64(2), int64(6), object(4)
memory usage: 481.6+ KB

In [13]:
df.drop('_id', axis = 1, inplace = True)

In [14]:
def transformar_ranking(x):
    x = x.split(' ')
    return x[1][:-1]

In [15]:
df.ranking_porcentaje = df.ranking_porcentaje.apply(transformar_ranking)

In [16]:
df.head()

,nombre_invocador,region,liga,lps,cola,ranking_mundial,ranking_porcentaje,wins,loses,n_games,winrate_total
0,Agurin,EUW,Challenger,1742,Soloqueue,4,0.000043,242,174,436,57.6
1,6K OnFleek,NA,Challenger,1859,Soloqueue,1,0.000010,150,111,260,57.7
2,frosty,BR,Challenger,1760,Soloqueue,3,0.000032,194,141,336,57.7
3,Noah7,EUW,Challenger,1782,Soloqueue,2,0.000021,243,159,402,60.7
4,FURIA Ayu,BR,Challenger,1701,Soloqueue,5,0.000053,120,76,196,61.2

In [20]:
def quitar_coma(x):
    return x.replace(',', '')

In [21]:
df.ranking_mundial = df.ranking_mundial.apply(quitar_coma)

In [43]:
ind = df.loc[df['lps'] == ''].index

In [44]:
df.drop(index = ind, inplace = True)

In [45]:
df.lps = df.lps.astype(int)

In [32]:
df.ranking_mundial = df.ranking_mundial.astype(int)

In [33]:
df.ranking_porcentaje = df.ranking_porcentaje.astype(float)

In [34]:
df.wins = df.wins.astype(int)

In [35]:
df.loses = df.loses.astype(int)

In [36]:
df.n_games = df.n_games.astype(int)

In [38]:
df.winrate_total = df.winrate_total.astype(float)

In [46]:
df.liga.unique()

array(['Challenger', 'GrandMaster'], dtype=object)

In [47]:
df['liga_label'] = df.liga.apply(lambda x: 2 if x == 'Challenger' else 1)

In [48]:
df.head()

,nombre_invocador,region,liga,lps,cola,ranking_mundial,ranking_porcentaje,wins,loses,n_games,winrate_total,liga_label
0,Agurin,EUW,Challenger,1742,Soloqueue,4,0.000043,242,174,436,57.6,2
1,6K OnFleek,NA,Challenger,1859,Soloqueue,1,0.000010,150,111,260,57.7,2
2,frosty,BR,Challenger,1760,Soloqueue,3,0.000032,194,141,336,57.7,2
3,Noah7,EUW,Challenger,1782,Soloqueue,2,0.000021,243,159,402,60.7,2
4,FURIA Ayu,BR,Challenger,1701,Soloqueue,5,0.000053,120,76,196,61.2,2

In [171]:
df.drop_duplicates(inplace = True)

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4735 entries, 0 to 4743
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nombre_invocador    4735 non-null   object
 1   region              4735 non-null   object
 2   liga                4735 non-null   object
 3   lps                 4735 non-null   int64
 4   cola                4735 non-null   object
 5   ranking_mundial     4735 non-null   int64
 6   ranking_porcentaje  4735 non-null   float64
 7   wins                4735 non-null   int64
 8   loses               4735 non-null   int64
 9   n_games             4735 non-null   int64
 10  winrate_total       4735 non-null   float64
 11  liga_label          4735 non-null   int64
dtypes: float64(2), int64(6), object(4)
memory usage: 480.9+ KB

In [187]:
df.to_csv('../data/info_general.csv', index = False)

**DF_2**

In [8]:
colec = final_proj.rol_kda
data_2 = [e for e in colec.find()]

In [11]:
df_2 = pd.DataFrame(data_2)

df_2.head()

,_id,nombre_invocador,kills_player_kda,deaths_player_kda,assists_player_kda,rol_1,games_per_rol_1,winrate_per_rol_1,rol_2,games_per_rol_2,winrate_per_rol_2,rol_3,games_per_rol_3,winrate_per_rol_3,nombre invocador
0,640d0e9bdc3400270aa86e97,undercover bob,7.9,4.9,6.9,AD Carry,188,59.6,Mid,16,62.5,Jungler,3,33.3,NaN
1,640d0e9c4d8e8432b16c9b81,Riiquee,3.0,4.8,13.5,Support,148,57.4,Mid,15,73.3,AD Carry,6,16.7,NaN
2,640d0e9f75579e622c8d62c3,Drututt,6.2,4.2,4.2,Top,248,54.4,Mid,11,27.3,Jungler,4,25.0,NaN
3,640d0ea399cbacf97d402dc7,RIV Punga,6.5,4.5,7.2,Mid,318,58.8,Top,92,56.5,Support,45,42.2,NaN
4,640d0eaf4d8e8432b16c9b82,Aithusa 23,7.0,6.3,6.4,Mid,265,55.8,Jungler,47,42.6,Top,33,60.6,NaN

In [54]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4650 entries, 0 to 4920
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nombre_invocador    4650 non-null   object
 1   kills_player_kda    4650 non-null   object
 2   deaths_player_kda   4650 non-null   object
 3   assists_player_kda  4650 non-null   object
 4   rol_1               4650 non-null   object
 5   games_per_rol_1     4650 non-null   object
 6   winrate_per_rol_1   4650 non-null   object
 7   rol_2               4630 non-null   object
 8   games_per_rol_2     4630 non-null   object
 9   winrate_per_rol_2   4630 non-null   object
 10  rol_3               4630 non-null   object
 11  games_per_rol_3     4630 non-null   object
 12  winrate_per_rol_3   4630 non-null   object
dtypes: object(13)
memory usage: 508.6+ KB

In [50]:
df_2.drop(['_id', 'nombre invocador'], axis = 1, inplace = True)

In [52]:
ind = df_2.loc[df_2['nombre_invocador'].isna()].index

In [53]:
df_2.drop(index = ind, inplace = True)

In [55]:
df_2.head()

,nombre_invocador,kills_player_kda,deaths_player_kda,assists_player_kda,rol_1,games_per_rol_1,winrate_per_rol_1,rol_2,games_per_rol_2,winrate_per_rol_2,rol_3,games_per_rol_3,winrate_per_rol_3
0,undercover bob,7.9,4.9,6.9,AD Carry,188,59.6,Mid,16,62.5,Jungler,3,33.3
1,Riiquee,3.0,4.8,13.5,Support,148,57.4,Mid,15,73.3,AD Carry,6,16.7
2,Drututt,6.2,4.2,4.2,Top,248,54.4,Mid,11,27.3,Jungler,4,25.0
3,RIV Punga,6.5,4.5,7.2,Mid,318,58.8,Top,92,56.5,Support,45,42.2
4,Aithusa 23,7.0,6.3,6.4,Mid,265,55.8,Jungler,47,42.6,Top,33,60.6

In [56]:
df_2.kills_player_kda = df_2.kills_player_kda.astype(float)
df_2.deaths_player_kda = df_2.deaths_player_kda.astype(float)
df_2.assists_player_kda = df_2.assists_player_kda.astype(float)
df_2.games_per_rol_1 = df_2.games_per_rol_1.astype(int)
df_2.winrate_per_rol_1 = df_2.winrate_per_rol_1.astype(float)

In [57]:
df_2.games_per_rol_2 = df_2.games_per_rol_2.astype(float)
df_2.winrate_per_rol_2 = df_2.winrate_per_rol_2.astype(float)
df_2.games_per_rol_3 = df_2.games_per_rol_3.astype(float)
df_2.winrate_per_rol_3 = df_2.winrate_per_rol_3.astype(float)

In [59]:
df_2 = df_2.fillna(0.)

In [174]:
df_2.drop_duplicates(inplace = True)

In [175]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4648 entries, 0 to 4920
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nombre_invocador    4648 non-null   object
 1   kills_player_kda    4648 non-null   float64
 2   deaths_player_kda   4648 non-null   float64
 3   assists_player_kda  4648 non-null   float64
 4   rol_1               4648 non-null   object
 5   games_per_rol_1     4648 non-null   int64
 6   winrate_per_rol_1   4648 non-null   float64
 7   rol_2               4648 non-null   object
 8   games_per_rol_2     4648 non-null   float64
 9   winrate_per_rol_2   4648 non-null   float64
 10  rol_3               4648 non-null   object
 11  games_per_rol_3     4648 non-null   float64
 12  winrate_per_rol_3   4648 non-null   float64
dtypes: float64(8), int64(1), object(4)
memory usage: 508.4+ KB

In [188]:
df_2.to_csv('../data/rol_kda.csv', index = False)

**DF_3**

In [60]:
colec = final_proj.champs
data_3 = [e for e in colec.find()]

In [152]:
df_3 = pd.DataFrame(data_3)

df_3.head()

,_id,nombre,champ_1,regional_rank_1,kills_champ_1,deaths_champ_1,assists_champ_1,games_champ_1,winrate_champ_1,champ_2,regional_rank_2,kills_champ_2,deaths_champ_2,assists_champ_2,games_champ_2,winrate_champ_2,champ_3,regional_rank_3,kills_champ_3,deaths_champ_3,assists_champ_3,games_champ_3,winrate_champ_3,champ_4,regional_rank_4,kills_champ_4,deaths_champ_4,assists_champ_4,games_champ_4,winrate_champ_4,champ_5,regional_rank_5,kills_champ_5,deaths_champ_5,assists_champ_5,games_champ_5,winrate_champ_5,champ_6,regional_rank_6,kills_champ_6,deaths_champ_6,assists_champ_6,games_champ_6,winrate_champ_6,champ_7,regional_rank_7,kills_champ_7,deaths_champ_7,assists_champ_7,games_champ_7,winrate_champ_7,champ_8,regional_rank_8,kills_champ_8,deaths_champ_8,assists_champ_8,games_champ_8,winrate_champ_8
0,640aedb2deb06aa1a991fcf8,6K OnFleek,Sylas,(NA: 1),9.1,4.8,6.5,44,50.0,Jax,137,5.5,4.5,3.2,32,65.6,Vi,148,6.2,5.1,8.9,30,63.3,Lee Sin,100,6.3,4.4,7.6,24,58.3,Elise,332,6.9,4.4,8.9,16,68.8,Viego,463,6.3,4.7,7.4,16,68.8,Maokai,255,4.6,4.1,9.9,16,56.3,Kindred,"1,853",6.3,6.2,8.6,13,53.8
1,640aedbc840f5dff014dcd01,frosty,Ashe,(BR: 1),3.6,4.9,13.5,68,52.9,Karma,21,4.2,4.5,16.8,34,64.7,Heimerdinger,70,4.6,5.4,11.6,34,58.8,Rakan,37,2.0,4.1,17.4,33,60.6,Ezreal,86,8.6,5.3,7.2,29,55.2,Zeri,359,9.3,4.4,6.8,23,73.9,Nautilus,164,2.2,4.8,14.8,17,58.8,Varus,284,7.9,5.3,9.5,16,56.3
2,640aedc6dc9a749753c5c0e0,Noah7,Zeri,(EUW: 1),10.0,5.5,7.5,103,66.0,Lucian,17,10.4,6.1,7.9,54,66.7,Ezreal,2,8.4,5.0,6.6,49,59.2,Graves,54,8.9,4.4,7.9,47,59.6,Caitlyn,28,6.8,5.8,6.3,30,53.3,Varus,"4,486",9.0,6.4,8.7,26,53.8,Kai'Sa,"1,646",10.2,5.7,6.6,22,68.2,Xayah,"1,354",10.0,5.3,8.8,17,58.8
3,640aedceebc9a0272f0ded63,RIV Punga,Zoe,(BR: 2),8.7,3.0,6.3,43,69.8,Akali,2,8.5,4.1,5.4,39,53.8,Renekton,72,6.8,5.0,5.3,38,55.3,K'Sante,30,5.3,4.4,6.9,27,55.6,Jayce,122,6.8,5.7,6.1,24,62.5,Taliyah,226,6.6,4.6,7.9,22,59.1,Sylas,78,7.0,5.9,6.4,22,54.5,Aatrox,626,6.4,4.7,5.2,21,57.1
4,640aedcedeb06aa1a991fcf9,Agurin,Jarvan IV,(EUW: 2),6.2,5.0,12.6,116,60.3,Elise,"(EUW: 3,641)",7.2,3.8,6.7,100,67.0,Wukong,42,5.9,4.3,7.0,68,55.9,Kha'Zix,3,6.3,5.1,7.8,51,51.0,Evelynn,69,8.2,4.3,6.4,33,54.5,Diana,85,6.8,5.2,6.5,19,47.4,Karma,384,2.7,5.2,11.5,13,53.8,Nocturne,"2,894",5.3,5.7,6.9,9,33.3

In [153]:
df_3.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4702 entries, 0 to 4701
Data columns (total 58 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   _id              4702 non-null   object
 1   nombre           4702 non-null   object
 2   champ_1          4702 non-null   object
 3   regional_rank_1  4702 non-null   object
 4   kills_champ_1    4702 non-null   object
 5   deaths_champ_1   4702 non-null   object
 6   assists_champ_1  4702 non-null   object
 7   games_champ_1    4702 non-null   object
 8   winrate_champ_1  4702 non-null   object
 9   champ_2          4702 non-null   object
 10  regional_rank_2  4702 non-null   object
 11  kills_champ_2    4702 non-null   object
 12  deaths_champ_2   4702 non-null   object
 13  assists_champ_2  4702 non-null   object
 14  games_champ_2    4702 non-null   object
 15  winrate_champ_2  4702 non-null   object
 16  champ_3          4702 non-null   object
 17  regional_rank_3  4702 non-null   object
 18  kills_champ_3    4702 non-null   object
 19  deaths_champ_3   4702 non-null   object
 20  assists_champ_3  4702 non-null   object
 21  games_champ_3    4702 non-null   object
 22  winrate_champ_3  4702 non-null   object
 23  champ_4          4702 non-null   object
 24  regional_rank_4  4702 non-null   object
 25  kills_champ_4    4702 non-null   object
 26  deaths_champ_4   4702 non-null   object
 27  assists_champ_4  4702 non-null   object
 28  games_champ_4    4702 non-null   object
 29  winrate_champ_4  4702 non-null   object
 30  champ_5          4702 non-null   object
 31  regional_rank_5  4702 non-null   object
 32  kills_champ_5    4702 non-null   object
 33  deaths_champ_5   4702 non-null   object
 34  assists_champ_5  4702 non-null   object
 35  games_champ_5    4702 non-null   object
 36  winrate_champ_5  4702 non-null   object
 37  champ_6          4702 non-null   object
 38  regional_rank_6  4702 non-null   object
 39  kills_champ_6    4702 non-null   object
 40  deaths_champ_6   4702 non-null   object
 41  assists_champ_6  4702 non-null   object
 42  games_champ_6    4702 non-null   object
 43  winrate_champ_6  4702 non-null   object
 44  champ_7          4702 non-null   object
 45  regional_rank_7  4702 non-null   object
 46  kills_champ_7    4702 non-null   object
 47  deaths_champ_7   4702 non-null   object
 48  assists_champ_7  4702 non-null   object
 49  games_champ_7    4702 non-null   object
 50  winrate_champ_7  4702 non-null   object
 51  champ_8          4702 non-null   object
 52  regional_rank_8  4702 non-null   object
 53  kills_champ_8    4702 non-null   object
 54  deaths_champ_8   4702 non-null   object
 55  assists_champ_8  4702 non-null   object
 56  games_champ_8    4702 non-null   object
 57  winrate_champ_8  4702 non-null   object
dtypes: object(58)
memory usage: 15.7 MB

In [154]:
df_3.drop('_id', axis = 1, inplace = True)

In [155]:
df_3.regional_rank_1 = df_3.regional_rank_1.apply(lambda x: x.split(' ')[1][:-1])

In [156]:
df_3.regional_rank_2.unique()

array(['137', '21', '17', ..., '(EUNE: 11,009)', '(VN: 1,070)',
       '(LAN: 15,460)'], dtype=object)

In [158]:
df_3.regional_rank_2 = df_3.regional_rank_2.apply(lambda x: x.split(' ')[1][:-1] if len(x.split(' ')) > 1 else x)
df_3.regional_rank_3 = df_3.regional_rank_3.apply(lambda x: x.split(' ')[1][:-1] if len(x.split(' ')) > 1 else x)
df_3.regional_rank_4 = df_3.regional_rank_4.apply(lambda x: x.split(' ')[1][:-1] if len(x.split(' ')) > 1 else x)
df_3.regional_rank_5 = df_3.regional_rank_5.apply(lambda x: x.split(' ')[1][:-1] if len(x.split(' ')) > 1 else x)
df_3.regional_rank_6 = df_3.regional_rank_6.apply(lambda x: x.split(' ')[1][:-1] if len(x.split(' ')) > 1 else x)
df_3.regional_rank_7 = df_3.regional_rank_7.apply(lambda x: x.split(' ')[1][:-1] if len(x.split(' ')) > 1 else x)
df_3.regional_rank_8 = df_3.regional_rank_8.apply(lambda x: x.split(' ')[1][:-1] if len(x.split(' ')) > 1 else x)

In [159]:
df_3.head()

,nombre,champ_1,regional_rank_1,kills_champ_1,deaths_champ_1,assists_champ_1,games_champ_1,winrate_champ_1,champ_2,regional_rank_2,kills_champ_2,deaths_champ_2,assists_champ_2,games_champ_2,winrate_champ_2,champ_3,regional_rank_3,kills_champ_3,deaths_champ_3,assists_champ_3,games_champ_3,winrate_champ_3,champ_4,regional_rank_4,kills_champ_4,deaths_champ_4,assists_champ_4,games_champ_4,winrate_champ_4,champ_5,regional_rank_5,kills_champ_5,deaths_champ_5,assists_champ_5,games_champ_5,winrate_champ_5,champ_6,regional_rank_6,kills_champ_6,deaths_champ_6,assists_champ_6,games_champ_6,winrate_champ_6,champ_7,regional_rank_7,kills_champ_7,deaths_champ_7,assists_champ_7,games_champ_7,winrate_champ_7,champ_8,regional_rank_8,kills_champ_8,deaths_champ_8,assists_champ_8,games_champ_8,winrate_champ_8
0,6K OnFleek,Sylas,1,9.1,4.8,6.5,44,50.0,Jax,137,5.5,4.5,3.2,32,65.6,Vi,148,6.2,5.1,8.9,30,63.3,Lee Sin,100,6.3,4.4,7.6,24,58.3,Elise,332,6.9,4.4,8.9,16,68.8,Viego,463,6.3,4.7,7.4,16,68.8,Maokai,255,4.6,4.1,9.9,16,56.3,Kindred,"1,853",6.3,6.2,8.6,13,53.8
1,frosty,Ashe,1,3.6,4.9,13.5,68,52.9,Karma,21,4.2,4.5,16.8,34,64.7,Heimerdinger,70,4.6,5.4,11.6,34,58.8,Rakan,37,2.0,4.1,17.4,33,60.6,Ezreal,86,8.6,5.3,7.2,29,55.2,Zeri,359,9.3,4.4,6.8,23,73.9,Nautilus,164,2.2,4.8,14.8,17,58.8,Varus,284,7.9,5.3,9.5,16,56.3
2,Noah7,Zeri,1,10.0,5.5,7.5,103,66.0,Lucian,17,10.4,6.1,7.9,54,66.7,Ezreal,2,8.4,5.0,6.6,49,59.2,Graves,54,8.9,4.4,7.9,47,59.6,Caitlyn,28,6.8,5.8,6.3,30,53.3,Varus,"4,486",9.0,6.4,8.7,26,53.8,Kai'Sa,"1,646",10.2,5.7,6.6,22,68.2,Xayah,"1,354",10.0,5.3,8.8,17,58.8
3,RIV Punga,Zoe,2,8.7,3.0,6.3,43,69.8,Akali,2,8.5,4.1,5.4,39,53.8,Renekton,72,6.8,5.0,5.3,38,55.3,K'Sante,30,5.3,4.4,6.9,27,55.6,Jayce,122,6.8,5.7,6.1,24,62.5,Taliyah,226,6.6,4.6,7.9,22,59.1,Sylas,78,7.0,5.9,6.4,22,54.5,Aatrox,626,6.4,4.7,5.2,21,57.1
4,Agurin,Jarvan IV,2,6.2,5.0,12.6,116,60.3,Elise,"3,641",7.2,3.8,6.7,100,67.0,Wukong,42,5.9,4.3,7.0,68,55.9,Kha'Zix,3,6.3,5.1,7.8,51,51.0,Evelynn,69,8.2,4.3,6.4,33,54.5,Diana,85,6.8,5.2,6.5,19,47.4,Karma,384,2.7,5.2,11.5,13,53.8,Nocturne,"2,894",5.3,5.7,6.9,9,33.3

In [160]:
df_3.regional_rank_1 = df_3.regional_rank_1.apply(lambda x: x.replace(',', ''))
df_3.regional_rank_2 = df_3.regional_rank_2.apply(lambda x: x.replace(',', ''))
df_3.regional_rank_3 = df_3.regional_rank_3.apply(lambda x: x.replace(',', ''))
df_3.regional_rank_4 = df_3.regional_rank_4.apply(lambda x: x.replace(',', ''))
df_3.regional_rank_5 = df_3.regional_rank_5.apply(lambda x: x.replace(',', ''))
df_3.regional_rank_6 = df_3.regional_rank_6.apply(lambda x: x.replace(',', ''))
df_3.regional_rank_7 = df_3.regional_rank_7.apply(lambda x: x.replace(',', ''))
df_3.regional_rank_8 = df_3.regional_rank_8.apply(lambda x: x.replace(',', ''))

In [161]:
df_3.head()

,nombre,champ_1,regional_rank_1,kills_champ_1,deaths_champ_1,assists_champ_1,games_champ_1,winrate_champ_1,champ_2,regional_rank_2,kills_champ_2,deaths_champ_2,assists_champ_2,games_champ_2,winrate_champ_2,champ_3,regional_rank_3,kills_champ_3,deaths_champ_3,assists_champ_3,games_champ_3,winrate_champ_3,champ_4,regional_rank_4,kills_champ_4,deaths_champ_4,assists_champ_4,games_champ_4,winrate_champ_4,champ_5,regional_rank_5,kills_champ_5,deaths_champ_5,assists_champ_5,games_champ_5,winrate_champ_5,champ_6,regional_rank_6,kills_champ_6,deaths_champ_6,assists_champ_6,games_champ_6,winrate_champ_6,champ_7,regional_rank_7,kills_champ_7,deaths_champ_7,assists_champ_7,games_champ_7,winrate_champ_7,champ_8,regional_rank_8,kills_champ_8,deaths_champ_8,assists_champ_8,games_champ_8,winrate_champ_8
0,6K OnFleek,Sylas,1,9.1,4.8,6.5,44,50.0,Jax,137,5.5,4.5,3.2,32,65.6,Vi,148,6.2,5.1,8.9,30,63.3,Lee Sin,100,6.3,4.4,7.6,24,58.3,Elise,332,6.9,4.4,8.9,16,68.8,Viego,463,6.3,4.7,7.4,16,68.8,Maokai,255,4.6,4.1,9.9,16,56.3,Kindred,1853,6.3,6.2,8.6,13,53.8
1,frosty,Ashe,1,3.6,4.9,13.5,68,52.9,Karma,21,4.2,4.5,16.8,34,64.7,Heimerdinger,70,4.6,5.4,11.6,34,58.8,Rakan,37,2.0,4.1,17.4,33,60.6,Ezreal,86,8.6,5.3,7.2,29,55.2,Zeri,359,9.3,4.4,6.8,23,73.9,Nautilus,164,2.2,4.8,14.8,17,58.8,Varus,284,7.9,5.3,9.5,16,56.3
2,Noah7,Zeri,1,10.0,5.5,7.5,103,66.0,Lucian,17,10.4,6.1,7.9,54,66.7,Ezreal,2,8.4,5.0,6.6,49,59.2,Graves,54,8.9,4.4,7.9,47,59.6,Caitlyn,28,6.8,5.8,6.3,30,53.3,Varus,4486,9.0,6.4,8.7,26,53.8,Kai'Sa,1646,10.2,5.7,6.6,22,68.2,Xayah,1354,10.0,5.3,8.8,17,58.8
3,RIV Punga,Zoe,2,8.7,3.0,6.3,43,69.8,Akali,2,8.5,4.1,5.4,39,53.8,Renekton,72,6.8,5.0,5.3,38,55.3,K'Sante,30,5.3,4.4,6.9,27,55.6,Jayce,122,6.8,5.7,6.1,24,62.5,Taliyah,226,6.6,4.6,7.9,22,59.1,Sylas,78,7.0,5.9,6.4,22,54.5,Aatrox,626,6.4,4.7,5.2,21,57.1
4,Agurin,Jarvan IV,2,6.2,5.0,12.6,116,60.3,Elise,3641,7.2,3.8,6.7,100,67.0,Wukong,42,5.9,4.3,7.0,68,55.9,Kha'Zix,3,6.3,5.1,7.8,51,51.0,Evelynn,69,8.2,4.3,6.4,33,54.5,Diana,85,6.8,5.2,6.5,19,47.4,Karma,384,2.7,5.2,11.5,13,53.8,Nocturne,2894,5.3,5.7,6.9,9,33.3

In [162]:
df_3.regional_rank_4 = df_3.regional_rank_4.apply(lambda x: x.replace('', '0') if x == '' else x)
df_3.regional_rank_5 = df_3.regional_rank_5.apply(lambda x: x.replace('', '0') if x == '' else x)
df_3.regional_rank_6 = df_3.regional_rank_6.apply(lambda x: x.replace('', '0') if x == '' else x)
df_3.regional_rank_7 = df_3.regional_rank_7.apply(lambda x: x.replace('', '0') if x == '' else x)
df_3.regional_rank_8 = df_3.regional_rank_8.apply(lambda x: x.replace('', '0') if x == '' else x)

In [163]:
df_3.regional_rank_1 = df_3.regional_rank_1.astype(int)
df_3.regional_rank_2 = df_3.regional_rank_2.astype(int)
df_3.regional_rank_3 = df_3.regional_rank_3.astype(int)
df_3.regional_rank_4 = df_3.regional_rank_4.astype(int)
df_3.regional_rank_5 = df_3.regional_rank_5.astype(int)
df_3.regional_rank_6 = df_3.regional_rank_6.astype(int)
df_3.regional_rank_7 = df_3.regional_rank_7.astype(int)
df_3.regional_rank_8 = df_3.regional_rank_8.astype(int)

In [164]:
df_3.head()

,nombre,champ_1,regional_rank_1,kills_champ_1,deaths_champ_1,assists_champ_1,games_champ_1,winrate_champ_1,champ_2,regional_rank_2,kills_champ_2,deaths_champ_2,assists_champ_2,games_champ_2,winrate_champ_2,champ_3,regional_rank_3,kills_champ_3,deaths_champ_3,assists_champ_3,games_champ_3,winrate_champ_3,champ_4,regional_rank_4,kills_champ_4,deaths_champ_4,assists_champ_4,games_champ_4,winrate_champ_4,champ_5,regional_rank_5,kills_champ_5,deaths_champ_5,assists_champ_5,games_champ_5,winrate_champ_5,champ_6,regional_rank_6,kills_champ_6,deaths_champ_6,assists_champ_6,games_champ_6,winrate_champ_6,champ_7,regional_rank_7,kills_champ_7,deaths_champ_7,assists_champ_7,games_champ_7,winrate_champ_7,champ_8,regional_rank_8,kills_champ_8,deaths_champ_8,assists_champ_8,games_champ_8,winrate_champ_8
0,6K OnFleek,Sylas,1,9.1,4.8,6.5,44,50.0,Jax,137,5.5,4.5,3.2,32,65.6,Vi,148,6.2,5.1,8.9,30,63.3,Lee Sin,100,6.3,4.4,7.6,24,58.3,Elise,332,6.9,4.4,8.9,16,68.8,Viego,463,6.3,4.7,7.4,16,68.8,Maokai,255,4.6,4.1,9.9,16,56.3,Kindred,1853,6.3,6.2,8.6,13,53.8
1,frosty,Ashe,1,3.6,4.9,13.5,68,52.9,Karma,21,4.2,4.5,16.8,34,64.7,Heimerdinger,70,4.6,5.4,11.6,34,58.8,Rakan,37,2.0,4.1,17.4,33,60.6,Ezreal,86,8.6,5.3,7.2,29,55.2,Zeri,359,9.3,4.4,6.8,23,73.9,Nautilus,164,2.2,4.8,14.8,17,58.8,Varus,284,7.9,5.3,9.5,16,56.3
2,Noah7,Zeri,1,10.0,5.5,7.5,103,66.0,Lucian,17,10.4,6.1,7.9,54,66.7,Ezreal,2,8.4,5.0,6.6,49,59.2,Graves,54,8.9,4.4,7.9,47,59.6,Caitlyn,28,6.8,5.8,6.3,30,53.3,Varus,4486,9.0,6.4,8.7,26,53.8,Kai'Sa,1646,10.2,5.7,6.6,22,68.2,Xayah,1354,10.0,5.3,8.8,17,58.8
3,RIV Punga,Zoe,2,8.7,3.0,6.3,43,69.8,Akali,2,8.5,4.1,5.4,39,53.8,Renekton,72,6.8,5.0,5.3,38,55.3,K'Sante,30,5.3,4.4,6.9,27,55.6,Jayce,122,6.8,5.7,6.1,24,62.5,Taliyah,226,6.6,4.6,7.9,22,59.1,Sylas,78,7.0,5.9,6.4,22,54.5,Aatrox,626,6.4,4.7,5.2,21,57.1
4,Agurin,Jarvan IV,2,6.2,5.0,12.6,116,60.3,Elise,3641,7.2,3.8,6.7,100,67.0,Wukong,42,5.9,4.3,7.0,68,55.9,Kha'Zix,3,6.3,5.1,7.8,51,51.0,Evelynn,69,8.2,4.3,6.4,33,54.5,Diana,85,6.8,5.2,6.5,19,47.4,Karma,384,2.7,5.2,11.5,13,53.8,Nocturne,2894,5.3,5.7,6.9,9,33.3

In [165]:
df_3.kills_champ_1 = df_3.kills_champ_1.astype(float)
df_3.kills_champ_2 = df_3.kills_champ_2.astype(float)
df_3.kills_champ_3 = df_3.kills_champ_3.astype(float)
df_3.kills_champ_4 = df_3.kills_champ_4.astype(float)
df_3.kills_champ_5 = df_3.kills_champ_5.astype(float)
df_3.kills_champ_6 = df_3.kills_champ_6.astype(float)
df_3.kills_champ_7 = df_3.kills_champ_7.astype(float)
df_3.kills_champ_8 = df_3.kills_champ_8.astype(float)

In [166]:
df_3.deaths_champ_1 = df_3.deaths_champ_1.astype(float)
df_3.deaths_champ_2 = df_3.deaths_champ_2.astype(float)
df_3.deaths_champ_3 = df_3.deaths_champ_3.astype(float)
df_3.deaths_champ_4 = df_3.deaths_champ_4.astype(float)
df_3.deaths_champ_5 = df_3.deaths_champ_5.astype(float)
df_3.deaths_champ_6 = df_3.deaths_champ_6.astype(float)
df_3.deaths_champ_7 = df_3.deaths_champ_7.astype(float)
df_3.deaths_champ_8 = df_3.deaths_champ_8.astype(float)

In [167]:
df_3.assists_champ_1 = df_3.assists_champ_1.astype(float)
df_3.assists_champ_2 = df_3.assists_champ_2.astype(float)
df_3.assists_champ_3 = df_3.assists_champ_3.astype(float)
df_3.assists_champ_4 = df_3.assists_champ_4.astype(float)
df_3.assists_champ_5 = df_3.assists_champ_5.astype(float)
df_3.assists_champ_6 = df_3.assists_champ_6.astype(float)
df_3.assists_champ_7 = df_3.assists_champ_7.astype(float)
df_3.assists_champ_8 = df_3.assists_champ_8.astype(float)

In [133]:
df_3.games_champ_3.unique()

array(['30', '34', '49', '38', '68', '11', '21', '29', '37', '44', '13',
       '12', '46', '17', '35', '27', '45', '19', '22', '15', '25', '14',
       '16', '23', '18', '10', '28', '24', '40', '33', '36', '43', '20',
       '48', '6', '26', '9', '32', '59', '47', '39', '42', '31', '2',
       '41', '71', '4', '100', '57', '66', '52', '51', '8', '75', '69',
       '55', '53', '56', '141', '58', '54', '62', '60', '82', '77', '116',
       '67', '74', '96', '61', '-12.7%', '79', '91', '72', '80', '73',
       '1', '87', '7', '50', '3', '84', '63', '65', '101', '118', '5',
       '94', '81', '113', '136', '86', '76', '88', '85', '78', '89', '97',
       '123', '92', '-22.4%', '64', '121', '112', '114', '108', '70',
       '119', '152'], dtype=object)

In [168]:
df_3.games_champ_3 = df_3.games_champ_3.apply(lambda x: x.split('.')[0][1:] if '%' in x else x)
df_3.games_champ_4 = df_3.games_champ_4.apply(lambda x: x.split('.')[0][1:] if '%' in x else x)
df_3.games_champ_5 = df_3.games_champ_5.apply(lambda x: x.split('.')[0][1:] if '%' in x else x)
df_3.games_champ_6 = df_3.games_champ_6.apply(lambda x: x.split('.')[0][1:] if '%' in x else x)
df_3.games_champ_7 = df_3.games_champ_7.apply(lambda x: x.split('.')[0][1:] if '%' in x else x)
df_3.games_champ_8 = df_3.games_champ_8.apply(lambda x: x.split('.')[0][1:] if '%' in x else x)

In [169]:
df_3.games_champ_1 = df_3.games_champ_1.astype(int)
df_3.games_champ_2 = df_3.games_champ_2.astype(int)
df_3.games_champ_3 = df_3.games_champ_3.astype(int)
df_3.games_champ_4 = df_3.games_champ_4.astype(int)
df_3.games_champ_5 = df_3.games_champ_5.astype(int)
df_3.games_champ_6 = df_3.games_champ_6.astype(int)
df_3.games_champ_7 = df_3.games_champ_7.astype(int)
df_3.games_champ_8 = df_3.games_champ_8.astype(int)

In [170]:
df_3.winrate_champ_1 = df_3.winrate_champ_1.astype(float)
df_3.winrate_champ_2 = df_3.winrate_champ_2.astype(float)
df_3.winrate_champ_3 = df_3.winrate_champ_3.astype(float)
df_3.winrate_champ_4 = df_3.winrate_champ_4.astype(float)
df_3.winrate_champ_5 = df_3.winrate_champ_5.astype(float)
df_3.winrate_champ_6 = df_3.winrate_champ_6.astype(float)
df_3.winrate_champ_7 = df_3.winrate_champ_7.astype(float)
df_3.winrate_champ_8 = df_3.winrate_champ_8.astype(float)

In [177]:
df_3.drop_duplicates(inplace = True)

In [178]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4694 entries, 0 to 4701
Data columns (total 57 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   nombre           4694 non-null   object
 1   champ_1          4694 non-null   object
 2   regional_rank_1  4694 non-null   int64
 3   kills_champ_1    4694 non-null   float64
 4   deaths_champ_1   4694 non-null   float64
 5   assists_champ_1  4694 non-null   float64
 6   games_champ_1    4694 non-null   int64
 7   winrate_champ_1  4694 non-null   float64
 8   champ_2          4694 non-null   object
 9   regional_rank_2  4694 non-null   int64
 10  kills_champ_2    4694 non-null   float64
 11  deaths_champ_2   4694 non-null   float64
 12  assists_champ_2  4694 non-null   float64
 13  games_champ_2    4694 non-null   int64
 14  winrate_champ_2  4694 non-null   float64
 15  champ_3          4694 non-null   object
 16  regional_rank_3  4694 non-null   int64
 17  kills_champ_3    4694 non-null   float64
 18  deaths_champ_3   4694 non-null   float64
 19  assists_champ_3  4694 non-null   float64
 20  games_champ_3    4694 non-null   int64
 21  winrate_champ_3  4694 non-null   float64
 22  champ_4          4694 non-null   object
 23  regional_rank_4  4694 non-null   int64
 24  kills_champ_4    4694 non-null   float64
 25  deaths_champ_4   4694 non-null   float64
 26  assists_champ_4  4694 non-null   float64
 27  games_champ_4    4694 non-null   int64
 28  winrate_champ_4  4694 non-null   float64
 29  champ_5          4694 non-null   object
 30  regional_rank_5  4694 non-null   int64
 31  kills_champ_5    4694 non-null   float64
 32  deaths_champ_5   4694 non-null   float64
 33  assists_champ_5  4694 non-null   float64
 34  games_champ_5    4694 non-null   int64
 35  winrate_champ_5  4694 non-null   float64
 36  champ_6          4694 non-null   object
 37  regional_rank_6  4694 non-null   int64
 38  kills_champ_6    4694 non-null   float64
 39  deaths_champ_6   4694 non-null   float64
 40  assists_champ_6  4694 non-null   float64
 41  games_champ_6    4694 non-null   int64
 42  winrate_champ_6  4694 non-null   float64
 43  champ_7          4694 non-null   object
 44  regional_rank_7  4694 non-null   int64
 45  kills_champ_7    4694 non-null   float64
 46  deaths_champ_7   4694 non-null   float64
 47  assists_champ_7  4694 non-null   float64
 48  games_champ_7    4694 non-null   int64
 49  winrate_champ_7  4694 non-null   float64
 50  champ_8          4694 non-null   object
 51  regional_rank_8  4694 non-null   int64
 52  kills_champ_8    4694 non-null   float64
 53  deaths_champ_8   4694 non-null   float64
 54  assists_champ_8  4694 non-null   float64
 55  games_champ_8    4694 non-null   int64
 56  winrate_champ_8  4694 non-null   float64
dtypes: float64(32), int64(16), object(9)
memory usage: 2.1+ MB

In [179]:
df_3.rename(columns={'nombre': 'nombre_invocador'}, inplace = True)

In [180]:
df_3.head()

,nombre_invocador,champ_1,regional_rank_1,kills_champ_1,deaths_champ_1,assists_champ_1,games_champ_1,winrate_champ_1,champ_2,regional_rank_2,kills_champ_2,deaths_champ_2,assists_champ_2,games_champ_2,winrate_champ_2,champ_3,regional_rank_3,kills_champ_3,deaths_champ_3,assists_champ_3,games_champ_3,winrate_champ_3,champ_4,regional_rank_4,kills_champ_4,deaths_champ_4,assists_champ_4,games_champ_4,winrate_champ_4,champ_5,regional_rank_5,kills_champ_5,deaths_champ_5,assists_champ_5,games_champ_5,winrate_champ_5,champ_6,regional_rank_6,kills_champ_6,deaths_champ_6,assists_champ_6,games_champ_6,winrate_champ_6,champ_7,regional_rank_7,kills_champ_7,deaths_champ_7,assists_champ_7,games_champ_7,winrate_champ_7,champ_8,regional_rank_8,kills_champ_8,deaths_champ_8,assists_champ_8,games_champ_8,winrate_champ_8
0,6K OnFleek,Sylas,1,9.1,4.8,6.5,44,50.0,Jax,137,5.5,4.5,3.2,32,65.6,Vi,148,6.2,5.1,8.9,30,63.3,Lee Sin,100,6.3,4.4,7.6,24,58.3,Elise,332,6.9,4.4,8.9,16,68.8,Viego,463,6.3,4.7,7.4,16,68.8,Maokai,255,4.6,4.1,9.9,16,56.3,Kindred,1853,6.3,6.2,8.6,13,53.8
1,frosty,Ashe,1,3.6,4.9,13.5,68,52.9,Karma,21,4.2,4.5,16.8,34,64.7,Heimerdinger,70,4.6,5.4,11.6,34,58.8,Rakan,37,2.0,4.1,17.4,33,60.6,Ezreal,86,8.6,5.3,7.2,29,55.2,Zeri,359,9.3,4.4,6.8,23,73.9,Nautilus,164,2.2,4.8,14.8,17,58.8,Varus,284,7.9,5.3,9.5,16,56.3
2,Noah7,Zeri,1,10.0,5.5,7.5,103,66.0,Lucian,17,10.4,6.1,7.9,54,66.7,Ezreal,2,8.4,5.0,6.6,49,59.2,Graves,54,8.9,4.4,7.9,47,59.6,Caitlyn,28,6.8,5.8,6.3,30,53.3,Varus,4486,9.0,6.4,8.7,26,53.8,Kai'Sa,1646,10.2,5.7,6.6,22,68.2,Xayah,1354,10.0,5.3,8.8,17,58.8
3,RIV Punga,Zoe,2,8.7,3.0,6.3,43,69.8,Akali,2,8.5,4.1,5.4,39,53.8,Renekton,72,6.8,5.0,5.3,38,55.3,K'Sante,30,5.3,4.4,6.9,27,55.6,Jayce,122,6.8,5.7,6.1,24,62.5,Taliyah,226,6.6,4.6,7.9,22,59.1,Sylas,78,7.0,5.9,6.4,22,54.5,Aatrox,626,6.4,4.7,5.2,21,57.1
4,Agurin,Jarvan IV,2,6.2,5.0,12.6,116,60.3,Elise,3641,7.2,3.8,6.7,100,67.0,Wukong,42,5.9,4.3,7.0,68,55.9,Kha'Zix,3,6.3,5.1,7.8,51,51.0,Evelynn,69,8.2,4.3,6.4,33,54.5,Diana,85,6.8,5.2,6.5,19,47.4,Karma,384,2.7,5.2,11.5,13,53.8,Nocturne,2894,5.3,5.7,6.9,9,33.3

In [189]:
df_3.to_csv('../data/champs_stats.csv', index = False)

**MERGEANDO DFs**

In [181]:
merg = pd.merge(df, df_2, on = 'nombre_invocador')

In [182]:
merg.head()

,nombre_invocador,region,liga,lps,cola,ranking_mundial,ranking_porcentaje,wins,loses,n_games,winrate_total,liga_label,kills_player_kda,deaths_player_kda,assists_player_kda,rol_1,games_per_rol_1,winrate_per_rol_1,rol_2,games_per_rol_2,winrate_per_rol_2,rol_3,games_per_rol_3,winrate_per_rol_3
0,Agurin,EUW,Challenger,1742,Soloqueue,4,0.000043,242,174,436,57.6,2,6.4,4.6,8.5,Jungler,416,58.2,Top,13.0,46.2,Mid,7.0,57.1
1,6K OnFleek,NA,Challenger,1859,Soloqueue,1,0.000010,150,111,260,57.7,2,6.3,4.7,7.3,Jungler,205,57.1,Top,56.0,58.9,Mid,7.0,28.6
2,frosty,BR,Challenger,1760,Soloqueue,3,0.000032,194,141,336,57.7,2,5.1,5.0,12.4,Support,249,57.4,AD Carry,78.0,60.3,Mid,6.0,66.7
3,Noah7,EUW,Challenger,1782,Soloqueue,2,0.000021,243,159,402,60.7,2,9.0,5.5,7.8,AD Carry,336,61.6,Jungler,70.0,52.9,Support,5.0,100.0
4,random gap,BR,Challenger,1056,Soloqueue,315,0.003400,113,89,213,55.9,2,5.9,4.2,5.9,Mid,105,53.3,Top,101.0,59.4,Jungler,3.0,66.7

In [183]:
merg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3794 entries, 0 to 3793
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nombre_invocador    3794 non-null   object
 1   region              3794 non-null   object
 2   liga                3794 non-null   object
 3   lps                 3794 non-null   int64
 4   cola                3794 non-null   object
 5   ranking_mundial     3794 non-null   int64
 6   ranking_porcentaje  3794 non-null   float64
 7   wins                3794 non-null   int64
 8   loses               3794 non-null   int64
 9   n_games             3794 non-null   int64
 10  winrate_total       3794 non-null   float64
 11  liga_label          3794 non-null   int64
 12  kills_player_kda    3794 non-null   float64
 13  deaths_player_kda   3794 non-null   float64
 14  assists_player_kda  3794 non-null   float64
 15  rol_1               3794 non-null   object
 16  games_per_rol_1     3794 non-null   int64
 17  winrate_per_rol_1   3794 non-null   float64
 18  rol_2               3794 non-null   object
 19  games_per_rol_2     3794 non-null   float64
 20  winrate_per_rol_2   3794 non-null   float64
 21  rol_3               3794 non-null   object
 22  games_per_rol_3     3794 non-null   float64
 23  winrate_per_rol_3   3794 non-null   float64
dtypes: float64(10), int64(7), object(7)
memory usage: 741.0+ KB

In [184]:
bd = pd.merge(merg, df_3, on = 'nombre_invocador')

In [185]:
bd.head()

,nombre_invocador,region,liga,lps,cola,ranking_mundial,ranking_porcentaje,wins,loses,n_games,winrate_total,liga_label,kills_player_kda,deaths_player_kda,assists_player_kda,rol_1,games_per_rol_1,winrate_per_rol_1,rol_2,games_per_rol_2,winrate_per_rol_2,rol_3,games_per_rol_3,winrate_per_rol_3,champ_1,regional_rank_1,kills_champ_1,deaths_champ_1,assists_champ_1,games_champ_1,winrate_champ_1,champ_2,regional_rank_2,kills_champ_2,deaths_champ_2,assists_champ_2,games_champ_2,winrate_champ_2,champ_3,regional_rank_3,kills_champ_3,deaths_champ_3,assists_champ_3,games_champ_3,winrate_champ_3,champ_4,regional_rank_4,kills_champ_4,deaths_champ_4,assists_champ_4,games_champ_4,winrate_champ_4,champ_5,regional_rank_5,kills_champ_5,deaths_champ_5,assists_champ_5,games_champ_5,winrate_champ_5,champ_6,regional_rank_6,kills_champ_6,deaths_champ_6,assists_champ_6,games_champ_6,winrate_champ_6,champ_7,regional_rank_7,kills_champ_7,deaths_champ_7,assists_champ_7,games_champ_7,winrate_champ_7,champ_8,regional_rank_8,kills_champ_8,deaths_champ_8,assists_champ_8,games_champ_8,winrate_champ_8
0,Agurin,EUW,Challenger,1742,Soloqueue,4,0.000043,242,174,436,57.6,2,6.4,4.6,8.5,Jungler,416,58.2,Top,13.0,46.2,Mid,7.0,57.1,Jarvan IV,2,6.2,5.0,12.6,116,60.3,Elise,3641,7.2,3.8,6.7,100,67.0,Wukong,42,5.9,4.3,7.0,68,55.9,Kha'Zix,3,6.3,5.1,7.8,51,51.0,Evelynn,69,8.2,4.3,6.4,33,54.5,Diana,85,6.8,5.2,6.5,19,47.4,Karma,384,2.7,5.2,11.5,13,53.8,Nocturne,2894,5.3,5.7,6.9,9,33.3
1,6K OnFleek,NA,Challenger,1859,Soloqueue,1,0.000010,150,111,260,57.7,2,6.3,4.7,7.3,Jungler,205,57.1,Top,56.0,58.9,Mid,7.0,28.6,Sylas,1,9.1,4.8,6.5,44,50.0,Jax,137,5.5,4.5,3.2,32,65.6,Vi,148,6.2,5.1,8.9,30,63.3,Lee Sin,100,6.3,4.4,7.6,24,58.3,Elise,332,6.9,4.4,8.9,16,68.8,Viego,463,6.3,4.7,7.4,16,68.8,Maokai,255,4.6,4.1,9.9,16,56.3,Kindred,1853,6.3,6.2,8.6,13,53.8
2,frosty,BR,Challenger,1760,Soloqueue,3,0.000032,194,141,336,57.7,2,5.1,5.0,12.4,Support,249,57.4,AD Carry,78.0,60.3,Mid,6.0,66.7,Ashe,1,3.6,4.9,13.5,68,52.9,Karma,21,4.2,4.5,16.8,34,64.7,Heimerdinger,70,4.6,5.4,11.6,34,58.8,Rakan,37,2.0,4.1,17.4,33,60.6,Ezreal,86,8.6,5.3,7.2,29,55.2,Zeri,359,9.3,4.4,6.8,23,73.9,Nautilus,164,2.2,4.8,14.8,17,58.8,Varus,284,7.9,5.3,9.5,16,56.3
3,Noah7,EUW,Challenger,1782,Soloqueue,2,0.000021,243,159,402,60.7,2,9.0,5.5,7.8,AD Carry,336,61.6,Jungler,70.0,52.9,Support,5.0,100.0,Zeri,1,10.0,5.5,7.5,103,66.0,Lucian,17,10.4,6.1,7.9,54,66.7,Ezreal,2,8.4,5.0,6.6,49,59.2,Graves,54,8.9,4.4,7.9,47,59.6,Caitlyn,28,6.8,5.8,6.3,30,53.3,Varus,4486,9.0,6.4,8.7,26,53.8,Kai'Sa,1646,10.2,5.7,6.6,22,68.2,Xayah,1354,10.0,5.3,8.8,17,58.8
4,random gap,BR,Challenger,1056,Soloqueue,315,0.003400,113,89,213,55.9,2,5.9,4.2,5.9,Mid,105,53.3,Top,101.0,59.4,Jungler,3.0,66.7,K'Sante,85,5.3,3.6,7.0,98,59.2,Akshan,3745,8.9,5.1,5.2,29,55.2,Tristana,7,6.7,4.4,4.1,11,45.5,Jax,121,5.5,5.9,3.6,10,60.0,Zeri,1726,7.0,3.8,3.3,9,66.7,Ryze,2081,3.0,2.9,2.3,9,44.4,Irelia,0,5.9,6.3,4.9,7,42.9,Kassadin,0,4.5,3.2,1.7,6,83.3

In [186]:
bd.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3436 entries, 0 to 3435
Data columns (total 80 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   nombre_invocador    3436 non-null   object
 1   region              3436 non-null   object
 2   liga                3436 non-null   object
 3   lps                 3436 non-null   int64
 4   cola                3436 non-null   object
 5   ranking_mundial     3436 non-null   int64
 6   ranking_porcentaje  3436 non-null   float64
 7   wins                3436 non-null   int64
 8   loses               3436 non-null   int64
 9   n_games             3436 non-null   int64
 10  winrate_total       3436 non-null   float64
 11  liga_label          3436 non-null   int64
 12  kills_player_kda    3436 non-null   float64
 13  deaths_player_kda   3436 non-null   float64
 14  assists_player_kda  3436 non-null   float64
 15  rol_1               3436 non-null   object
 16  games_per_rol_1     3436 non-null   int64
 17  winrate_per_rol_1   3436 non-null   float64
 18  rol_2               3436 non-null   object
 19  games_per_rol_2     3436 non-null   float64
 20  winrate_per_rol_2   3436 non-null   float64
 21  rol_3               3436 non-null   object
 22  games_per_rol_3     3436 non-null   float64
 23  winrate_per_rol_3   3436 non-null   float64
 24  champ_1             3436 non-null   object
 25  regional_rank_1     3436 non-null   int64
 26  kills_champ_1       3436 non-null   float64
 27  deaths_champ_1      3436 non-null   float64
 28  assists_champ_1     3436 non-null   float64
 29  games_champ_1       3436 non-null   int64
 30  winrate_champ_1     3436 non-null   float64
 31  champ_2             3436 non-null   object
 32  regional_rank_2     3436 non-null   int64
 33  kills_champ_2       3436 non-null   float64
 34  deaths_champ_2      3436 non-null   float64
 35  assists_champ_2     3436 non-null   float64
 36  games_champ_2       3436 non-null   int64
 37  winrate_champ_2     3436 non-null   float64
 38  champ_3             3436 non-null   object
 39  regional_rank_3     3436 non-null   int64
 40  kills_champ_3       3436 non-null   float64
 41  deaths_champ_3      3436 non-null   float64
 42  assists_champ_3     3436 non-null   float64
 43  games_champ_3       3436 non-null   int64
 44  winrate_champ_3     3436 non-null   float64
 45  champ_4             3436 non-null   object
 46  regional_rank_4     3436 non-null   int64
 47  kills_champ_4       3436 non-null   float64
 48  deaths_champ_4      3436 non-null   float64
 49  assists_champ_4     3436 non-null   float64
 50  games_champ_4       3436 non-null   int64
 51  winrate_champ_4     3436 non-null   float64
 52  champ_5             3436 non-null   object
 53  regional_rank_5     3436 non-null   int64
 54  kills_champ_5       3436 non-null   float64
 55  deaths_champ_5      3436 non-null   float64
 56  assists_champ_5     3436 non-null   float64
 57  games_champ_5       3436 non-null   int64
 58  winrate_champ_5     3436 non-null   float64
 59  champ_6             3436 non-null   object
 60  regional_rank_6     3436 non-null   int64
 61  kills_champ_6       3436 non-null   float64
 62  deaths_champ_6      3436 non-null   float64
 63  assists_champ_6     3436 non-null   float64
 64  games_champ_6       3436 non-null   int64
 65  winrate_champ_6     3436 non-null   float64
 66  champ_7             3436 non-null   object
 67  regional_rank_7     3436 non-null   int64
 68  kills_champ_7       3436 non-null   float64
 69  deaths_champ_7      3436 non-null   float64
 70  assists_champ_7     3436 non-null   float64
 71  games_champ_7       3436 non-null   int64
 72  winrate_champ_7     3436 non-null   float64
 73  champ_8             3436 non-null   object
 74  regional_rank_8     3436 non-null   int64
 75  kills_champ_8       3436 non-null   float64
 76  deaths_champ_8      3436 non-null   float64
 77  assists_champ_8     3436 non-null   float64
 78  games_champ_8       3436 non-null   int64
 79  winrate_champ_8     3436 non-null   float64
dtypes: float64(42), int64(23), object(15)
memory usage: 2.1+ MB

In [191]:
bd['nivel'] = 'rookie'

In [192]:
bd.to_csv('../data/total.csv', index = False)