In [1]:
import numpy as np
import pandas as pd
import time

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

## Junglers stats and scores

In [2]:
jun_score = pd.read_csv('../data/scores/jun_score.csv')

jun_score.head()

,nombre_invocador,elyoyaaaaaaaaaaa,Razørk Activoo,잘가요 굿바이,blaberfish2,I Love Uber Eats,Maxlore,Boukada,bluerzor,total
0,elyoyaaaaaaaaaaa,1.000000,0.000403,0.000169,0.000334,0.000339,0.000412,0.000317,0.003645,1.005621
1,bluerzor,0.003645,0.000393,0.000164,0.000324,0.000329,0.000396,0.000318,1.000000,1.005569
2,I Love Uber Eats,0.000339,0.001096,0.000140,0.001714,1.000000,0.001209,0.000324,0.000329,1.005152
3,blaberfish2,0.000334,0.001162,0.000145,1.000000,0.001714,0.000818,0.000343,0.000324,1.004840
4,Razørk Activoo,0.000403,1.000000,0.000144,0.001162,0.001096,0.000867,0.000437,0.000393,1.004503

In [3]:
jun_stats = pd.read_csv('../data/cuadro_mando/jun_stats_app.csv')

jun_stats.head()

,nombre_invocador,region,liga,lps,ranking_mundial,winrate_total,kills_player_kda,deaths_player_kda,assists_player_kda,score
0,elyoyaaaaaaaaaaa,EUW,GrandMaster,806,2815,53.5,7.2,4.4,7.7,1.005621
1,bluerzor,EUW,GrandMaster,786,2880,53.6,6.2,4.5,8.4,1.005569
2,I Love Uber Eats,EUW,Challenger,1258,108,54.3,5.0,4.7,9.3,1.005152
3,blaberfish2,EUW,Challenger,1462,25,62.2,7.3,5.5,8.0,1.004840
4,Razørk Activoo,EUW,Challenger,1036,387,53.4,6.5,4.8,8.5,1.004503

In [4]:
jun_stats_score = pd.merge(jun_stats, jun_score, on = 'nombre_invocador')

jun_stats_score.head()

,nombre_invocador,region,liga,lps,ranking_mundial,winrate_total,kills_player_kda,deaths_player_kda,assists_player_kda,score,elyoyaaaaaaaaaaa,Razørk Activoo,잘가요 굿바이,blaberfish2,I Love Uber Eats,Maxlore,Boukada,bluerzor,total
0,elyoyaaaaaaaaaaa,EUW,GrandMaster,806,2815,53.5,7.2,4.4,7.7,1.005621,1.000000,0.000403,0.000169,0.000334,0.000339,0.000412,0.000317,0.003645,1.005621
1,bluerzor,EUW,GrandMaster,786,2880,53.6,6.2,4.5,8.4,1.005569,0.003645,0.000393,0.000164,0.000324,0.000329,0.000396,0.000318,1.000000,1.005569
2,I Love Uber Eats,EUW,Challenger,1258,108,54.3,5.0,4.7,9.3,1.005152,0.000339,0.001096,0.000140,0.001714,1.000000,0.001209,0.000324,0.000329,1.005152
3,blaberfish2,EUW,Challenger,1462,25,62.2,7.3,5.5,8.0,1.004840,0.000334,0.001162,0.000145,1.000000,0.001714,0.000818,0.000343,0.000324,1.004840
4,Razørk Activoo,EUW,Challenger,1036,387,53.4,6.5,4.8,8.5,1.004503,0.000403,1.000000,0.000144,0.001162,0.001096,0.000867,0.000437,0.000393,1.004503

In [5]:
jun_stats_score.drop('total', axis = 1, inplace = True)

In [6]:
jun_stats_score.to_csv('../data/cuadro_mando/jun_stats_score.csv')

## Top stats and scores

In [7]:
top_score = pd.read_csv('../data/scores/top_score.csv')

In [8]:
top_stats = pd.read_csv('../data/cuadro_mando/top_stats_app.csv')

In [9]:
top_stats_score = pd.merge(top_stats, top_score, on = 'nombre_invocador')

In [11]:
top_stats_score.drop('Total', axis = 1, inplace = True)

In [12]:
top_stats_score.to_csv('../data/cuadro_mando/top_stats_score.csv')

In [16]:
top_stats_score.head()

,nombre_invocador,region,liga,lps,ranking_mundial,winrate_total,kills_player_kda,deaths_player_kda,assists_player_kda,score,Kongenvenderhjem,칸 나,BiIIy Butcher1,C9 Fudge,FΙGHT
0,C9 Fudge,EUW,GrandMaster,610,4017,54.2,5.7,5.0,5.3,1.001119,0.000089,0.000563,0.000247,1.000000,0.000220
1,칸 나,KR,GrandMaster,608,4044,55.6,5.6,4.7,4.9,1.001101,0.000088,1.000000,0.000210,0.000563,0.000240
2,FΙGHT,EUW,Challenger,1230,126,56.7,4.9,4.8,6.2,1.000900,0.000098,0.000240,0.000342,0.000220,1.000000
3,BiIIy Butcher1,EUW,Challenger,1135,226,55.3,5.5,4.8,5.5,1.000891,0.000092,0.000210,1.000000,0.000247,0.000342
4,Kongenvenderhjem,EUW,Challenger,1203,156,59.7,7.1,5.9,5.7,1.000367,1.000000,0.000088,0.000092,0.000089,0.000098

## Mid stats and scores

In [13]:
mid_score = pd.read_csv('../data/scores/mid_score.csv')

mid_stats = pd.read_csv('../data/cuadro_mando/mid_stats_app.csv')

mid_stats_score = pd.merge(mid_stats, mid_score, on = 'nombre_invocador')

mid_stats_score.drop('Total', axis = 1, inplace = True)

mid_stats_score.to_csv('../data/cuadro_mando/mid_stats_score.csv')

In [17]:
mid_stats_score.head()

,nombre_invocador,region,liga,lps,ranking_mundial,winrate_total,kills_player_kda,deaths_player_kda,assists_player_kda,score,Hide on bush,pleroma chronou,Wesley Warren Jr,GOOD GAME GG EZ,Jænsen,dajor25,Percy Magic,M1dLaoBan,Disabled Chattt,boiat nastana
0,boiat nastana,EUW,Challenger,1236,122,56.6,5.5,4.9,7.3,1.006872,0.000204,0.000238,0.001814,0.000414,0.000391,0.000295,0.002054,0.001366,0.000096,1.000000
1,Wesley Warren Jr,EUW,Challenger,1033,393,54.6,6.2,4.9,6.1,1.006363,0.000211,0.000251,1.000000,0.000360,0.000432,0.000301,0.001423,0.001474,0.000099,0.001814
2,Percy Magic,EUW,Challenger,1304,82,54.8,6.2,3.8,6.2,1.006276,0.000201,0.000235,0.001423,0.000414,0.000371,0.000301,1.000000,0.001181,0.000096,0.002054
3,M1dLaoBan,EUW,Challenger,1056,353,53.9,6.1,5.5,7.0,1.005696,0.000212,0.000260,0.001474,0.000385,0.000414,0.000305,0.001181,1.000000,0.000099,0.001366
4,Jænsen,EUW,GrandMaster,952,2636,62.0,5.9,4.2,8.4,1.003341,0.000374,0.000469,0.000432,0.000285,1.000000,0.000478,0.000371,0.000414,0.000126,0.000391

## ADC stats and scores

In [14]:
adc_score = pd.read_csv('../data/scores/adc_score.csv')

adc_stats = pd.read_csv('../data/cuadro_mando/adc_stats_app.csv')

adc_stats_score = pd.merge(adc_stats, adc_score, on = 'nombre_invocador')

adc_stats_score.drop('Total', axis = 1, inplace = True)

adc_stats_score.to_csv('../data/cuadro_mando/adc_stats_score.csv')

In [18]:
adc_stats_score.head()

,nombre_invocador,region,liga,lps,ranking_mundial,winrate_total,kills_player_kda,deaths_player_kda,assists_player_kda,score,Jinno Kingdom,Satoru Gojo03,T1 Gumayusi,HAHAHAHHAHA,Kobbe,Beanovich
0,T1 Gumayusi,KR,Challenger,1083,308,55.1,6.4,5.1,6.6,1.006115,0.000889,0.000464,1.000000,0.001577,0.000703,0.002482
1,Beanovich,EUW,Challenger,1103,281,53.5,6.6,4.5,6.4,1.005679,0.000953,0.000427,0.002482,0.001201,0.000616,1.000000
2,HAHAHAHHAHA,EUW,Challenger,1293,86,55.7,7.3,6.0,6.1,1.004878,0.000624,0.000542,0.001577,1.000000,0.000934,0.001201
3,Kobbe,EUW,Challenger,1013,452,56.6,7.0,4.4,7.4,1.003914,0.000493,0.001169,0.000703,0.000934,1.000000,0.000616
4,Jinno Kingdom,EUW,Challenger,801,1183,51.9,6.6,4.9,7.5,1.003331,1.000000,0.000372,0.000889,0.000624,0.000493,0.000953

## Supp stats and scores

In [15]:
supp_score = pd.read_csv('../data/scores/supp_score.csv')

supp_stats = pd.read_csv('../data/cuadro_mando/supp_stats_app.csv')

supp_stats_score = pd.merge(supp_stats, supp_score, on = 'nombre_invocador')

supp_stats_score.drop('Total', axis = 1, inplace = True)

supp_stats_score.to_csv('../data/cuadro_mando/supp_stats_score.csv')

In [19]:
supp_stats_score.head()

,nombre_invocador,region,liga,lps,ranking_mundial,winrate_total,kills_player_kda,deaths_player_kda,assists_player_kda,score,FNC Hylissang,TL Honda CoreJJ,Vulcan 01,역천괴,school phobia,mersa777,Targamas,KC Leona,Zaunite Mylo
0,FNC Hylissang,EUW,Challenger,1055,358,54.5,2.2,5.7,12.7,1.007084,1.000000,0.000795,0.000365,0.000140,0.000570,0.000224,0.004669,0.000271,0.000049
1,Targamas,EUW,Challenger,1135,225,54.2,3.4,4.6,12.5,1.007059,0.004669,0.000781,0.000359,0.000137,0.000580,0.000221,1.000000,0.000263,0.000049
2,TL Honda CoreJJ,EUW,Challenger,1059,350,54.3,3.0,5.7,11.8,1.004149,0.000795,1.000000,0.000522,0.000147,0.001258,0.000260,0.000781,0.000337,0.000050
3,school phobia,EUW,Challenger,1416,43,57.7,2.5,4.9,13.7,1.003612,0.000570,0.001258,0.000469,0.000138,1.000000,0.000234,0.000580,0.000314,0.000049
4,Vulcan 01,EUW,Challenger,921,731,56.1,2.8,4.9,12.4,1.002540,0.000365,0.000522,1.000000,0.000156,0.000469,0.000264,0.000359,0.000350,0.000054